.red-button {
  background: #D53032;
  display: block;
  padding: 20px 20px;
  text-align: center;
  text-decoration: none;
  width: 5px;
  height: 5px;
  border-radius: 10px;
}

.green-button {
  background: rgb(124, 188, 42);
  display: block;
  padding: 20px 20px;
  text-align: center;
  text-decoration: none;
  width: 5px;
  height: 5px;
  border-radius: 10px;
}

.magenta-button {
  background: magenta;
  display: block;
  padding: 20px 20px;
  text-align: center;
  text-decoration: none;
  width: 5px;
  height: 5px;
  border-radius: 10px;
}

.yellow-button {
  background: #FAE03C;
  display: block;
  padding: 20px 20px;
  text-align: center;
  text-decoration: none;
  width: 5px;
  height: 5px;
  border-radius: 10px;
}

.blue-button {
  background: rgb(58, 117, 198);
  display: block;
  padding: 20px 20px;
  text-align: center;
  text-decoration: none;
  width: 5px;
  height: 5px;
  border-radius: 10px;
}

.no-button {
  background: white;
  display: block;
  padding: 20px 20px;
  text-align: center;
  text-decoration: none;
  width: 5px;
  height: 5px;
  border-radius: 10px;
  cursor: default;
  pointer-events: none;
}

.button {
  background: gray;
  display: inline-block;
  padding: 20px 20px;
  text-align: center;
  text-decoration: none;
  width: 280px;
  height: 15px;
  border-radius: 30px;
  font-size: 20px;
  color: white;
}
