.red-button {
  background: #D53032;
  display: block;
  /* padding: 20px 20px; */
  text-align: center;
  text-decoration: none;
  width: 35px;
  height: 35px;
  border-radius: 20px;
}

.green-button {
  background: rgb(124, 188, 42);
  display: block;
  /* padding: 20px 20px; */
  text-align: center;
  text-decoration: none;
  width: 35px;
  height: 35px;
  border-radius: 20px;
}

.magenta-button {
  background: magenta;
  display: block;
  /* padding: 20px 20px; */
  text-align: center;
  text-decoration: none;
  width: 35px;
  height: 35px;
  border-radius: 20px;
}

.yellow-button {
  background: #FAE03C;
  display: block;
  /* padding: 20px 20px; */
  text-align: center;
  text-decoration: none;
  width: 35px;
  height: 35px;
  border-radius: 20px;
}

.blue-button {
  background: rgb(58, 117, 198);
  display: block;
  /* padding: 20px 20px; */
  text-align: center;
  text-decoration: none;
  width: 35px;
  height: 35px;
  border-radius: 20px;
}

.no-button {
  background: white;
  display: block;
  /* padding: 20px 20px; */
  text-align: center;
  text-decoration: none;
  width: 35px;
  height: 35px;
  border-radius: 20px;
  cursor: default;
  pointer-events: none;
}

.button {
  margin-top:20px;
  background: #b3cde0;
  display: inline-block;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  width: 150px;
  height: 30px;
  border-radius: 30px;
  font-size: 20px;
  color: #011f4b;
}

.index-h1 {
  margin-top: 200px;
}

.web-table{
  border: 2px solid #b3cde0;
}
